<% layout('layout') %>

<main>
    <h1>Page non trouvée</h1>
    <p>La page à laquelle vous tentez d'accéder n'existe pas.</p>
    <p>Rendez-vous sur la page d'accueil en cliquant <a href="/">ici</a>.</p>
</main>