<header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <% if (firstName) {%>
            <li class="connected"><a href="/tableau-de-bord">Tableau de bord</a></li>
            <% } %>
            <li>Lien 2</li>
            <li>Lien 3</li>
        </ul>
    </nav>
</header>