<header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/users">Gestion des utilisateurs</a></li>
            <li>Lien 2</li>
            <li>Lien 3</li>
        </ul>
    </nav>
</header>