<header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li class="connected"><a href="/tableau-de-bord">Tableau de bord</a></li>
            <li class="connected"><a href="/liste-des-catways">Liste des catways</a></li>
            <li class="connected"><a href="/liste-des-reservations">Liste des réservations</a></li>
            <li>Liste des réservations</li>
            <li>Documentation de l'API</li>
        </ul>
    </nav>
</header>